# server {
#     listen              80;
#     server_name         e-shop.my;
#
#     access_log          /var/log/nginx/e-shop.access.log;
#     error_log           /var/log/nginx/e-shop.error.log;
#
#     root /www/e-shop/public;
#     index index.html;
#
#     location / {
#         try_files $uri $uri/ @rewrites;
#       }
#
#     location @rewrites {
#         rewrite ^(.+)$ /www/public/index.html last;
#       }
#
#     location ~* \.(?:ico|css|js|gif|jpe?g|png)$ {
#         # Some basic cache-control for static files to be sent to the browser
#         expires max;
#         add_header Pragma public;
#         add_header Cache-Control "public, must-revalidate, proxy-revalidate";
#     }
# }